body {
	background-color: #680808;
}
.bg-header {
	background-color: #4f0808;
}
.text-center {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
  font-size: 5rem;
}
a {
	color: white!important;
}
.card {
	background-color: #f6efef;
	color: white;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-style: none;
	margin-bottom: 10px;

}
.card-header {
	background-color: #480505;
}
.in-card {
	background-color: #770909;
	padding: 5px;
	margin: 5px;
}
.nav-item {
	margin: 10px;
}
.footer {
	background-color: #460707;
	width : 100%;
	color: white;
	padding: 60px;
	text-align: center;
}
